<div class="tab-pane fade show active" id="actions" role="tabpanel" aria-labelledby="actions-tab">
    <div class="mb-2">
        <button id="refresh-actions" type="button" class="btn btn-primary ">Refresh</button>
        <button id="clear-actions" type="button" class="btn btn-primary">Clear</button>
    </div>
    <div id="actions-table-wrapper">
        {{> actions-table}}
    </div>
</div>

<div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
    <div class="form-inline mb-2">
        {{#each team.members}}
        <div class="btn-group mr-2" role="group" aria-label="Team Member">
            <button type="button" class="btn btn-outline-primary" disabled>{{this}}</button>
            <button type="submit" class="removeMember btn btn-outline-danger" data-member="{{this}}"><strong style="font-size:1em">&times;</strong></button>
        </div>
        {{/each}}
    </div>

    <div class="form-inline add-member-form mb-2">
        <input type="text" class="form-control mr-sm-2" name="phoneNumber" placeholder="Phone Number">
        <button type="submit" class="addMember btn btn-primary">Add</button>
    </div>

    <div class="form-inline">
        <button id="send-message" type="button" class="btn btn-success mr-2 mb-2">Send</button>
        <input type="text" class="form-control mr-2 mb-2" placeholder="Type a message to send" id="message-text" />
        <input type="text" class="form-control mr-2 mb-2" style="width" placeholder="(Optional) Image URL" id="message-mediaUrl" />
        <label class="mr-2">to member(s):</label>
        <select id="message-member-select" class="form-control custom-select mr-2">
            <option value="*" selected>Everyone</option>
            {{#each team.members}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
</div>

<div class="tab-pane fade" id="raw" role="tabpanel" aria-labelledby="raw-tab">
    <div id="rawDataWrapper" class="border border-secondary rounded" style="background: #f5f5f5">
        <pre class="m-2"><code class="language-javascript" data-lang="javascript" id="rawTeamData">{{teamJson}}</code></pre>
    </div>
</div>